/* background image */
body{
    background-image: url(https://i1.sndcdn.com/artworks-VO66AIL86u2zKexE-Dz3ioQ-t500x500.jpg); /* The image used */
   
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color:rgb(168, 113, 150)
}
}
}